<%= form_for @contact do |f| %>
<div class="row">
	<div class="large-12 columns">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
</div>
<div class="row">
	<div class="field">
		<%= f.label :primary %>
		<%= f.check_box :primary %>
	</div>
</div>
<div class="row">
	<%= button_tag(type: 'submit', class: "button expand") do %>
 		Save
	<% end %>
</div>
<% end %>