<h1>Listing all Contact Information</h1>

<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Primary</th>
		</tr>
	</thead>

	<tbody>
		<% @contacts.each do |contact| %>
		<tr>
			<td><%= contact.email %></td>
			<td><%= contact.phone %></td>
			<td><% if contact.primary? %>
						Yes
					<% else %>
						No
					<% end %>
			</td>
			 <td><%= link_to 'Show', contact %></td>
       <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
       <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<p>
	<%= link_to 'Add New Contact', new_contact_path %>
</p>