<h1>Show New Contact</h1>

<p id="notice"><%= notice %></p>

<p>
	<strong>Email: </strong>
	<%= @contact.email %>
</p>

<p>
	<strong>Phone Number: </strong>
	<%= @contact.phone %>
</p>

<p>
	<strong>Primary Contact? </strong>
	<% if @contact.primary? %>
		Yes
	<% else %>
		No
	<% end %>
</p>

<p>
	<%= link_to 'Edit', edit_contact_path(@contact) %>
	<%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?'} %>
	<%= link_to 'Show All', contacts_path %>
</p>